@keyframes changecolor{
  0%{background-color:red;border-radius: 0%;}
  10%{background-color:yellow;border-radius:10%}
  20% {background-color:green;border-radius:20%}
  30%{background-color:pink;border-radius:30%}
  40%  {background-color:blueviolet;border-radius:40%}
  50%{background-color:violet;border-radius:50%}
  60%{background-color:orange;border-radius:40%}
  70% {background-color:grey;border-radius:30%}
  80%{background-color:blue;border-radius: 20%;}
  90%  {background-color:yellowgreen;border-radius:10%}
   
}







#animate
{
    background-color:red;
    height:200px;
    width:100%;
    animation-name:changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}

