.flex-container
{
background-color:red;
display:flex;
flex-flow:row wrap;
justify-content:center;
height:400px;

align-items:center;
flex-wrap:wrap;
/*
align-content:flex-start;*/

}

.flex-child
{
background-color:pink;
margin:20px;
padding:20px;

}
#one
{
align-self:flex-start;
}
#two
{
align-self:center;
}
#three
{
align-self:flex-end;
}