#div
{
    background-color: red;
   width:100px;
   
    margin:100px;
    transition-property: all;
    transition-duration: 2s;
    animation-timing-function: ease-in;

}
div:hover{
    width:300px;
    background-color:green;
}